<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <style>
      .jinju{
        
      }
      .title{
        margin-left:50px;
        margin-top:50px;
      }
      .login{
        margin-left:550px;
        margin-top:20px;
      }
      .form-actions{
        margin-top:30px;
        margin-left:40px;
      }
    </style>
  </head>
  <body>
    <div class="jinju">
      <div class="title">
        <h1 style="color:#4fc3f7; font-weight:bold; text-align:center">Jinju Community</h1>
        <br>
        <p style="color:gray; text-align:center; font-size:20px">Welcome to Jinju Community!</p>
      </div>
      <div class="login">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>
          <br>
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Log in" %>
          </div>
        <% end %>
        <br>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </body>
</html>
